<h2>Customer Page</h2>

<form action="/customer/order" method="POST">
    <input type="text" name="customerName" placeholder="Your Name" required>
    <input type="text" name="customerNumber" placeholder="Your Number" required>

    <% items.forEach(item => { %>
        <div>
            <span><%= item.name %> - ₹<%= item.price %></span>
            <input type="number" name="orderItems[<%= item._id %>][quantity]" placeholder="Quantity" min="0">
            <input type="hidden" name="orderItems[<%= item._id %>][itemId]" value="<%= item._id %>">
            <input type="hidden" name="orderItems[<%= item._id %>][price]" value="<%= item.price %>">
        </div>
    <% }) %>

    <button type="submit">Place Order</button>
</form>
